@font-face {
    font-family: "iranyekan" ;
    font-weight: normal;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#"),
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}

@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#"),
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}

@font-face {
    font-family: "pinar" ;
    font-weight: 700;
    src: url("fonts/pinar/pinar-700.woff2") format('woff2');
}

@font-face {
    font-family: "pinar" ;
    font-weight: 400;
    src: url("fonts/pinar/pinar-400.woff2") format('woff2');
}

@keyframes top-bottom {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0px);
    }
}

html, body {
    scroll-behavior: smooth;
}

:root {
    --mainColor: #005c9e;
    --hoverColor: #047ace;
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: "iranyekan_numbers", "iranyekan";
}

.container {
    /*border: 1px solid red;*/
    width: 80%;
    /*min-height: 100px;*/
    margin: 0 auto;
}

#top-site {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

#main-header {
    /*border: 1px solid green;*/
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 80px;
}

#main-nav {
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

#main-nav ul li {
    margin: 2px 30px;
}

#main-nav ul li a:link,
#main-nav ul li a:visited {
    text-decoration: none;
    color: var(--mainColor);
    transition: all 0.3s;
    font-weight: bold;
}

#main-nav ul li a:hover {
    color: #0087e6;
}

a.blue-btn:link, a.blue-btn:visited {
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    display: inline-block;
    transition: all 0.3s;
}

a.blue-btn:hover {
    background-color: var(--hoverColor);
    border: 2px solid var(--hoverColor);

}

a#toggle:link, a#toggle:visited {
    /*border: 1px solid red;*/
    display: none;
    font-size: 25px;
    color: var(--mainColor);
    padding: 10px;
}

a.blue-btn-bordered:link, a.blue-btn-bordered:visited {
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 4px;
    text-decoration: none;
    padding: 10px 35px;
    display: inline-block;
    transition: all 0.3s;
}

a.blue-btn-bordered:hover {
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    color: white;
}

#main-section {
    /*border: 1px solid red;*/
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

#image-wrapper {
    flex-basis: 50%;
}

#image-wrapper > img {
    width: 100%;
    animation: top-bottom 1.5s alternate infinite;
}

#title-wrapper {
    flex-basis: 50%;
}

#title-wrapper > h1 {
    color: var(--mainColor);
    line-height: 1.8;
    font-family: "pinar";
    font-weight: 700;
    font-size: 28px;

}

ul#title-features {
    list-style-type: none;
    padding: 0;
    margin: 0 0 40px 0;
}

ul#title-features li {
    background-image: url("../images/check_icon.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 25px;
    margin: 15px 0;
}

#slideshow {
    direction: ltr;
    overflow: hidden;
    position: relative;
}

#btn-wrapper {
    /*border: 1px solid green;*/
    position: absolute;
    right: 30px;
    bottom: 50px;
}

#btn-wrapper  a {
    font-size: 30px;
    color: white;
    transition: all 0.3s;
}

#btn-wrapper  a:hover {
    color: #b1b1b1;
}

#slideshow > .bx-wrapper {
    box-shadow: none;
    border: 0;
    margin-bottom: 0;
}

.bx-wrapper .bx-pager {
    /*border: 1px solid red;*/
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: auto;
    padding-top: 0
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: white;
}

#services {
    /*border: 1px solid green;*/
    min-height: 100px;
    padding: 80px 0;

}

h2.section-title {
    text-align: center;
    font-weight: bold;
    font-family: pinar;
}

h2.section-title::after,
h2.section-title::before {
    content: "";
    display: inline-block;
    background-color: var(--mainColor);
    width: 50px;
    height: 3px;
    transform: translateY(-3px);
}

h2.section-title::after {
    margin-right: 10px;
}

h2.section-title::before {
    margin-left: 10px;
}

h4.section-sub-title {
    color: gray;
    text-align: center;
    margin-bottom: 50px;

}

#service-wrapper {
    /*border: 1px solid black;*/
    min-height: 200px;
    margin-bottom: 50px;
    display: flex;
    /*gap: 20px;*/
    column-gap: 20px;
}

.service {
    /*border: 1px solid blue;*/
    box-shadow: 0 0 15px 6px whitesmoke;
    padding: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /*margin: 0 10px;*/
}

.service:hover {
    color: white;
}

.service::before {
    width: 100px;
    height: 100px;
    display: block;
    content: "";
    background-color: lightblue;
    position: absolute;
    left: -50px;
    top: -40px;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: -1;
}

.service:hover::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0 10px 10px 10px;
    background-color: #047ace;
}

.service-icon {
    background-color: var(--mainColor);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.service-icon > .fa-solid {
    transition: all 0.3s;
}

.service:hover > .service-icon {
    background-color: white;
}

.service:hover > .service-icon > .fa-solid {
    color: var(--mainColor)
}

.service > p {
    color: #3a3a3a;
    font-size: 13px;
    transition: all 0.3s;
    line-height: 2
}

.service:hover > p {
    color: white;
}

#teachers {
    /*border: 1px solid red;*/
    min-height: 200px;
    background-color: #f7fbfe;
    padding: 80px 0;
}

#teachers-wrapper {
    display: flex;
    column-gap: 20px;
}

.teacher {
    /*border: 1px solid green;*/
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    /*box-shadow: 0 0 15px 6px whitesmoke;*/
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    padding-bottom: 20px;
    transition: transform 0.3s;
    position: relative;
    margin-bottom: 30px;
}
.slick-initialized .slick-slide{
    margin: 20px 10px;
}
.slick-prev:before, .slick-next:before{
    color: var(--mainColor);
    font-size: 40px;
}
.slick-next {
    right: -40px;
}
.teacher:hover {
    transform: scale(1.08);
}

.teacher > img {
    max-width: 100%;
}

.teacher > h3 {
    color: var(--mainColor);
    font-weight: bold;
}

.teacher > h4 {
    color: #b1b1b1;
    margin: 5px 0;
    font-size: 15px;
}

ul.socials {
    /*border:1px solid black;*/
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: -60px;
    top: 45px;
    border-radius: 10px;
    transition: all 0.5s;
}

.teacher:hover > ul.socials {
    right: 10px;
}

ul.socials > li {
    margin: 10px 0;
}

ul.socials > li > a:link,
ul.socials > li > a:visited {
    color: var(--mainColor);
    font-size: 20px;
    opacity: 0.5;
    transition: all 0.3s;
}

ul.socials > li > a:hover {
    opacity: 1.0;
}

#faq {
    min-height: 150px;
    background-image: url("../images/accordion_bg.webp");
    background-size: 50%;
    background-repeat: no-repeat;
}

#faq > .container {
    display: flex;
}

#faq h4.section-sub-title {
    margin-bottom: 20px;
}

.col {
    /*border: 1px solid blue;*/
    flex-basis: 50%;
    min-height: 200px;
}

#accordion {
    /*border: 1px solid black;*/
    min-height: 200px;
    padding: 10px 0 10px 10px;
}

.acc-title {
    /*border: 1px solid red;*/
    border-radius: 15px;
    padding: 15px;
    background: rgb(4, 122, 206);
    background: linear-gradient(90deg, rgba(4, 122, 206, 1) 0%, rgba(0, 92, 158, 1) 100%);
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    margin: 20px 0;
}

.acc-body {
    border-right: 1px solid lightgray;
    padding: 0 10px;
    color: #3a3a3a;
    line-height: 2.1;
    font-size: 13px;
    display: none;
}

.acc-title > i.fa-solid {
    float: left;
}

#courses {
    /*border: 1px solid black;*/
    min-height: 200px;
    padding: 80px 0;

}

#filter {
    /*border: 1px solid red;*/
    padding: 10px;
    margin: 0 auto 20px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    column-gap: 15px;
}

#filter > li > a:link,
#filter > li > a:visited {
    display: block;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    text-decoration: none;
    transition: all 0.3s;
}

#filter > li > a:hover {
    background-color: var(--mainColor);
    color: white;
}

#filter > li > a.active {
    background-color: var(--mainColor);
    color: white;
}

#courses-wrapper {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}

.course {
    /*border: 1px solid red;*/
    position: relative;
    overflow: hidden;
    flex-basis: 30%;
    border-radius: 10px;
}

.course:hover::before {
    right: 0;
}

.course::before {
    background-color: rgba(154, 157, 255, 0.81);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    transition: all 0.3s;
    z-index: 1;
}

.course > img {
    max-width: 100%;
    display: block;
    transition: all 0.3s;
}

div.links {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    opacity: 0;
    transition: all 0.3s;
    z-index: 2;
}

div.links > a:link, div.links > a:visited {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    display: block;
    color: var(--mainColor);
    text-align: center;
    margin: 5px;
    line-height: 2.1;
    transition: all 0.3s;
    position: relative;
}

div.links > a:hover {
    background-color: var(--mainColor);
    color: white;
}

div.links > a:hover:after {
    opacity: 1.0;
}

.course:hover .links {
    transform: translate(-50%, -50%);
    opacity: 1.0;
}

/*a.add::after,a.show::after{
    background-color: #3a3a3a;
    padding: 5px;
    text-decoration: none;
    font-size: 9px;
    color: white;
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s;
}
a.add::after{
    content: "افزودن به سبد خرید";
    top: 5px;
    right: -90px;
}
a.show::after{
    content: "مشاهده";
    top: 5px;
    left: -45px;
}*/

.course > h2 {
    font-size: 15px;
    text-align: center;
    position: absolute;
    bottom: -10px;
    right: 0;
    transition: all 0.3s;
    opacity: 0;
    color: white;
    z-index: 2;
    background-color: var(--mainColor);
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.course:hover > h2 {
    bottom: 10px;
    opacity: 1;
}

.course:hover > img {
    transform: scale(1.2) rotate(5deg);
}

#newsletter {
    /*border: 1px solid red;*/
    min-height: 200px;
    background-color: #f7fbfe;
    padding: 80px 0;
}

#newsletter-form {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);

}

#newsletter-form input[type="email"] {
    padding: 10px;
    width: calc(100% - 140px);
    border: 0;
}

.blue-btn {
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    display: inline-block;
    transition: all 0.3s;
}

.blue-btn:hover {
    background-color: var(--hoverColor);
    border: 2px solid var(--hoverColor);
    cursor: pointer;
}

#newsletter-form > .blue-btn {
    position: absolute;
    left: 3px;
    top: 3px;
}

#footer-wrapper {
    /*border: 1px solid red;*/
    min-height: 100px;
    padding: 80px 0;
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
}

#column-wrapper {
    display: flex;
}

#column-wrapper > .column {
    /*border: 1px solid green;*/
    min-height: 50px;
    flex: 1;
}

#column-wrapper > .column:nth-child(4) {
    flex: 1.2;

}

#column-wrapper > .column > h3 {
    font-family: pinar;
}

#column-wrapper > .column > p {
    color: #6d6d6d;
    line-height: 1.5;
}

ul#contacts {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#contacts > li {
    font-size: 18px;
    margin: 10px 0;
}

ul#contacts > li > i.fa-solid {
    color: var(--mainColor);
    font-size: 20px;
}

#column-wrapper > .column > h4 {
    font-family: pinar;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}

#column-wrapper > .column > h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 30%;
    background-color: var(--mainColor);
    position: absolute;
    bottom: 0;
    right: 0;
}

ul.normal-list {
    list-style-type: none;
    padding-right: 10px;
}

ul.normal-list > li {
    margin: 10px 0;
}

ul.normal-list > li > a:link, ul.normal-list > li > a:visited {
    text-decoration: none;
    color: #3a3a3a;
    transition: all 0.5s;
}

ul.normal-list > li > a:hover {
    color: var(--mainColor);
}

ul.normal-list > li > i {
    color: var(--mainColor);
    font-size: 12px;
    margin-left: 10px;
}

ul#social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

ul#social-links > li > a:link,
ul#social-links > li > a:visited {
    display: block;
    background-color: var(--mainColor);
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 50%;
    transition: all 0.3s;
}

ul#social-links > li > a:hover {
    background-color: var(--hoverColor);

}

ul#social-links > li > a > i {
    font-size: 20px;
}

#copyright {
    background-color: #f7fbfe;
    padding: 20px 0;
    display: flex;
    line-height: 1.5;
}

#copyright-wrapper {
    /*border: 1px solid red;*/
    display: flex;
}

.copy {
    flex-basis: 50%;
    /* border: 1px solid blue;*/
    text-align: left;
}

.writer {
    flex-basis: 50%;
    /*border: 1px solid blue;*/
}

.red-text {
    color: red;
}

a#go-to-top:link, a#go-to-top:visited {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: var(--mainColor);
    color: white;
    text-align: center;
    line-height: 1.5;
    border-radius: 5px;
    transition: all 0.3s;
    z-index: 200;
}

a#go-to-top:hover {
    background-color: var(--hoverColor);
}